body{font-family: 'Otomanopee One', sans-serif;
margin: 0;}
h1{
    font-size: 50px;
}
.sec{
    display: flex;
    margin-bottom: 150PX;
}
.orange-color{
    color: orange;
}
.half-width{

    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 100%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
background-position: right;
}
.nwd{

    width: 40%;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px rgb(83, 77, 76) ;
    border-radius: 5%;
    
}
.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
#p1{
    border-left: 10px solid;
    border-image: linear-gradient(blue
    , tomato);
    border-image-slice: 1;
}
#p2{
    border-left: 10px solid;
    border-image: linear-gradient(green, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;

}